/* mobile view */
@media screen and (max-width:480px) {
   
    .container{
        width: 80%;
    }

    .leftside form{
        padding: 1em;
    }
    .leftside input{
        padding: 0.5em;
    }


    .rightside img{
        display: none;
    }
    .centering{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

    form button{
        width:100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
/* .centering button{
    border-radius: 2px;
    width: 100%;
    padding: 0.5em;
    
} */
button a{
    text-decoration: none;
}
    
}


@media screen and (min-width:481px) and (max-width:768px) {
    .container{
        width: 100%;
        display: flex;
    }
    
    .leftside{
        width: 50%;
    }
    
    .leftside form{
        padding: 1em;
    }
    .leftside input{
        padding: 0.5em;
    }
    
    .centering{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%;
    }
    
    .rightside{
        width: 30%;
    
    
    }
    .rightside img{
        width: 100%;
    }
    
    .centering button{
        border-radius: 2px;
        width: 50%;
        padding: 0.5em;
        
    }
    button a{
        text-decoration: none;
    }
}

@media screen and (min-width:769px){


.container{
    width: 100%;
    display: flex;
}

.leftside{
    width: 50%;
}

.leftside form{
    padding: 1em;
}
.leftside input{
    padding: 0.5em;
}

.centering{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

.rightside{
    width: 30%;


}
.rightside img{
    width: 100%;
}
.centering button{
    border-radius: 2px;
    width: 30%;
    padding: 0.5em;
    
}
button a{
    text-decoration: none;
}
    
}


