
/* For Mobile */

@media screen and (max-width:480px){
    body{
        font-size: 1em;
    }
    #showProducts{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
   
    .content{
        margin-top: 1em;
        width: 80%;
        border: #ccc solid;
        border-radius: 5px;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;

    }
 
    div img{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  


}

/* For Tablet */

@media screen and (min-width:481px) and (max-width:768px){
    


 
    #showProducts{
        display: flex;
        width: 100%;
        flex-wrap: wrap;


    }
    

    .content{
        width: 40%;

        
        margin-top: 1em;
        
        border: #ccc solid;
        border-radius: 5px;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;

        
    }

    div img{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



}

/* For Desktop */
@media screen and (min-width:769px){
 
    #showProducts{
        display: flex;
        width: 100%;
        flex-wrap: wrap;


    }
    

    .content{
        width: 20%;

        
        margin-top: 1em;
        
        border: #ccc solid;
        border-radius: 5px;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;

        
    }

    div img{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


}


